@import url('https://cdn.jsdelivr.net/npm/@csstools/normalize.css/normalize.min.css');

@mixin noselect {
    user-select: none;
}

.noselect {
    @include noselect;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:focus {
        opacity: 0.5;
    }

    &,
    &:active,
    &:hover,
    &:visited {
        color: currentColor;
        outline: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

p,
ul {
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}
