main {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.card {
    border-radius: 10px;
    color: #ffffff;
    margin: 1rem;
    padding: 3rem;
    text-align: center;
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

.card:hover,
.card:focus,
.card:active {
    color: #7f7f7f;
}

.card h1 {
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.card p {
    color: #7f7f7f;
    margin: 0;
    padding: 0;
}
