@mixin no-select {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

html,
body {
    @include no-select;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }

    &:focus {
        opacity: 0.5;
    }
}
